@font-face {
    src: url(fonts/adam.otf);
    font-family: ADAM;
}

body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/*header*/
header{
    margin:0;
}
nav{
    transition: 0.8s;
}

nav:hover{
    background-color: #282e34; 
    color:aliceblue;
    transition: 0.8s;
}

.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*fixed = parallex
  scroll = normal
  */

    background-attachment: fixed;
}

.pimg1{
    background-image: url('images/img1.jpeg');
    min-height: 100%;
}

.pimg2{
    background-image: url('images/img2.jpeg');
    min-height: 400px;
}

.pimg3{
    background-image: url('images/img3.jpg');
    min-height: 400px;
}
.pimg4{
    background-image: url('images/img1.jpeg');
    min-height: 400px;
    padding-bottom: 50px;
}

.section{
    text-align: center;
    padding: 50px 80px;
    
}

.section-light{
    background-color: aliceblue;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: lightgrey;
}

.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #282e34;
    color: white;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
}

.ptext .border.trans{
    background-color: transparent;
    
}

@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
    
}
.block{
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}


footer {
    width: 100%;
    background-color: #282e34;
    padding: 160px 0px;
}
footer p{
    color:white;
}
footer p a{
    color:white;
    text-decoration:none;
}

footer p a:hover{
    color:pink;
    text-decoration: underline;
}

footer p a:active {
    color:maroon;
    text-decoration: underline;
}

.square,{
    margin:300px;
}
.carousel-item img{
    width: 1600px;
    height: 900px;
}

.addition{
    margin: 150px;
    height: auto;
    max-width: 100%;
}
.cover{
    background-color: blue;
    opacity: 0.70;
    margin:auto;
    max-width: fit-content;
}
.cover h5{
    color: aliceblue;
}