body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/*Header*/
header{
    margin:0;
}

nav{
    transition: 0.8s;
}

nav:hover{
    background-color: #f12b37; 
    color:aliceblue;
    transition: 0.8s;
}

/*HEADER end*/
/* Parallex Images*/

.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*fixed = parallex
  scroll = normal
  */

    background-attachment: fixed;
}

.pimg1{
    background-image: url('images/img1.jpeg');
    min-height: 100%;
}

.pimg2{
    background-image: url('images/img2.jpeg');
    min-height: 400px;
}

.pimg3{
    background-image: url('images/img3.jpg');
    min-height: 400px;
}
.pimg4{
    background-image: url('images/img1.jpeg');
    min-height: 400px;
    padding-bottom: 50px;
}

/*end of PARALLEX images*/

.section{
    text-align: center;
   /* padding: 50px 80px; */
}

.section-light{
    background-color: aliceblue;
    color: #666;
}

/*row vertical, column horizontal effect*/
#box1{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 50px;
}


#box1 h2, h5{
    text-align: center;
    text-shadow: 1px 2px #f12b37;
    

}

#box2{
    padding: 50px;
    background-color: #f12b37;
    text-align: justify;
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    opacity : 0.7;
}

/*button settings section 1 INTRO*/


.introduction .readmore-btn{
    padding: 15px 5px;
    font-size: auto;
    width: 140px;
    height: 55px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 20px 45px;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

.readmore-btn {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.readmore-btn a{
    color: white;
    text-decoration:none;
}

.readmore-btn a:hover{
    color: pink;
    text-decoration: none;
}
.readmore-btn a:active {
    color: #282e34;
    text-decoration: none;
}

/*The end of section 1 INTRO*/

/*Beginning of section 2 NEWS*/

.news{
    color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: justify;
    grid-auto-rows: minmax(100px,auto);
    text-transform: uppercase;
}

.news p{
    font-size: 0.8rem; 
}
#news-1{
    grid-column:1;
    grid-row:1/4;
    border: 0px solid;
    border-radius: 10px 10px 10px 10px; 
    background: url(images/news1.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#news-1 h6{
    font-size: 1.8rem;
    text-align: center;
}

#news-1 p{
    margin-top: 300px;
}
#news-2{
    grid-column:2/4;
    background: url(images/news3.jpg);
    background-size: cover; 
    border: 0px solid;
    border-radius: 10px 10px 10px 10px; 
    padding: 20px;
}

#news-2 h6{
    font-size: 1.8rem;
    text-align: center;
}

#news-2 p{
    margin-top: 30px;
}
#news-3{
    grid-column: 2/3;
    background: url(images/news2.jpg);
    background-size: cover; 
    border: 0px solid;
    border-radius: 10px 10px 10px 10px; 
    padding: 20px;
}

#news-3 h6{
    font-size: 1.8rem;
    text-align: center;
}

#news-3 p{
    margin-top: 30px;
}
#news-4{
    grid-column:3/3;
    background: url(images/news4.jpg);
    background-size: cover; 
    border: 0px solid;
    border-radius: 10px 10px 10px 10px; 
    padding: 20px;
}
#news-4 h6{
    font-size: 1.8rem;
    text-align: center;
}

#news-4 p{
    margin-top: 60px;
}
#news-5{
    grid-column:2/4;
    background: url(images/news5.jpg);
    background-size: cover; 
    border: 0px solid;
    border-radius: 10px 10px 10px 10px; 
    padding: 20px;  
}
#news-5 h6{
    font-size: 1.8rem;
    text-align: center;
}

#news-5 p{
    margin-top: 30px;
}

.readmore1-btn a{
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px 5px;
    color: lightgray;
    text-decoration:none;
    text-transform: uppercase;
}

.readmore1-btn a:hover{
    background: #282e34;
    color: lightgray;
    text-decoration: none;
}
.readmore1-btn a:active {
    color: #282e34;
    text-decoration: none;
}

/*End of Section 2 NEWS*/
/*BEGINNING OF SECTION 3 MEDIA*/

.section-dark{
    background-color: #282e34;
    color: lightgrey;
}

.ptext{
    position: absolute;
    display: flex;
    top:50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #282e34;
    color: white;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
}

.ptext .border.trans{
    background-color: transparent;
    
}

.block{
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/*video*/
/* Style the video: 100% width and height to cover the entire window */
#video{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/*END OF VIDEO*/

.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px,auto);
    border: pink groove 5px;
    border-radius: 5px;
    padding-top: 100px;
    margin-top: 50px;
}
.photos h1{
    text-align: center;
    color: palevioletred;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.photos img{
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    border: pink groove 5px;
}
#photo1{
    grid-column: 1/2;
    padding: 30px 0px;
}
#photo2{
    grid-column: 2/3;
    padding: 30px 0px;
}
#photo3{
    grid-column: 3/4;
    padding: 30px 0px;
}

/*END OF PHOTOS AND END OF SECTION 3 MEDIA*/
/* The beginning of footer */

footer{

    width: 100%;
    background: #000;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: #ccc;
}

/*footer ends*/


.footer2 h6{
    text-transform: uppercase;
    color: rgb(109, 105, 100);
}

.footer2 p{
    line-height: 1.3em;
    text-align: justify;
}

.footer2 a{
    text-decoration: none;
    color: lightgray;
}

.footer2 a:hover{
    text-decoration: none;
    color: #282828;
}

.footer2 a:active {
    color: #282e34;
    text-decoration: none;
}

/*footer ends*/
/*FEW ADDITIONALS*/

.square,{
    margin:300px;
}

.addition{
    margin: 150px;
    height: auto;
    max-width: 100%;
}
.addition h2{
    color: #f12b37;
}
.cover{
    background-color: blue;
    opacity: 0.70;
    margin:auto;
    max-width: fit-content;
}
.cover h5{
    color: aliceblue;
}

/* Media Queries */
@media(max-width:1000px){
    #news-1{
        grid-column:1/3;
        grid-row: 1/2;
    }
    #news-1 p{
        margin-top:100px;
    }
    #news-2{
        grid-column:3/4;
    }
    #news-3{
        grid-column: 1/2;
    }
    #news-4{
        grid-column:2/4;
    }
    #news-4 p{
        margin-top:150px;
    }
    #news-5{
        grid-column:1/4;
    }
    #photo1{
        grid-column: 1/4;
    }
    #photo2{
        grid-column: 1/4;
    }
    #photo3{
        grid-column: 1/4;
    }
    .photos img{
        width: 100%;
        max-width: 600px;
        height: auto;
        border: pink groove 5px;
    }
}
@media(max-width:700px){
    #news-1{
        grid-column:1/4;
        grid-row:1/3;
        max-height: auto;
    }
    #news-2{
        grid-column:1/4;
    }
    #news-3{
        grid-column: 1/4;
    }
    #news-4{
        grid-column:1/4;
    }

    #news-5{
        grid-column:1/4;
    }
    #photo1{
        grid-column: 1/4;
        
    }
    #photo2{
        grid-column: 1/4;
    }
    #photo3{
        grid-column: 1/4;
    }

}

@media(max-width: 575.98px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }    
}

@media (min-aspect-ratio: 16/9) {
    #video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    #video {
      width: auto;
      height: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen {
      background: url('images/ironman.jpg') center center / cover no-repeat;
    }
  
    #video {
      display: none;
    }
  }
