body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    background-color: #ffd746 !important;

} 

/* FONTS */

/*HEADER BACKGROUND*/


.halumni-letter h4{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px #000;
    letter-spacing: 4px;
    margin: 0 auto;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}
.profileLine{background: #000;width: 400px;height: 5px;margin: 0 auto;}
/*end of HEADER BACKGROUND*/

.configPersonel{
    padding: 100px;
    text-align: center;
    margin: auto;
}

/*BEGINNING OF WHO WE ARE */
.personTemplate{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
    
    grid-auto-rows: minmax(100px,auto);
    text-align: left;
    justify-content: flex-start;
    justify-items: stretch;
    align-items: stretch;

}
.personTemplate{color: white;}
.personTemplate div{
    padding: 2em;
}

.personName{
    text-align: center;
    text-shadow: 2px 2px #000;
    padding-top: 2em;
    font-family: 'Oswald',cursive;
    font-size: 30px;
}
.personData01{  background: #242120; /* fallback for old browsers */
    background: linear-gradient(
        to right,#242120,#414746);
}
.personData01 .personDesc{
    text-align: center;
    font-family: 'Kalam',cursive;
    font-style: oblique;
    font-size: 19px;
}
.personDesc::before,
.personDesc::after{
    content: ' " ';
    font-size: 24px;
    font-style: oblique;
    font-family: 'Kalam',cursive;
}
.personPhoto{
    background: url(images/who1.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border: solid 8px rgba(100, 100, 100, 0.2);
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}
.personData02{
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(
        to left,#242120,#414746);
        );
    font-size: 22px;
    text-shadow: 2px 2px #000;
    margin-top:-1px;
}
.personStatement{
    text-align:left;
    padding: 0 3em;
    background: linear-gradient(
        to right,#242120,#414746,#242120);
    color: white;
}

.txtStatement{  
    padding: 2em;
    font-size: 24px;
    font-family: 'Rancho',cursive;
    font-style: oblique;
    box-sizing: border-box;
}


.txtStatement::before{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 97%; /* This will center the border. */
    width: 5%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-right: 3px solid #ffd746;
    border-top: 3px solid #ffd746; /* This creates the border. Replace black with whatever color you want. */

}


.txtStatement::after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0px -2%; /* This will center the border. */
    width: 5%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-left: 3px solid #ffd746;
    border-bottom: 3px solid #ffd746; /* This creates the border. Replace black with whatever color you want. */
}

/* The beginning of footer */
#main-footer {
  }
  footer {
    width: 100%;
    letter-spacing: 4px;
    font-size: 0.9em;
    background: white;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: black;
    font-family: "Bangers", cursive;
  }
  .footer2 h6 {
    text-transform: uppercase;
    color: rgb(109, 105, 100);
  }
  .footer2 p {
    line-height: 1.3em;
    text-align: justify;
  }
  .footer2 a {
    text-decoration: none;
    color: lightgray;
  }
  .footer2 a:hover {
    text-decoration: none;
    color: #282828;
  }
  .footer2 a:active {
    color: #282e34;
    text-decoration: none;
  }
  /* footer */
  .fa-heart {
    color: #ff0000;
    animation: animateHeart 1.5s linear infinite;
  }
  @keyframes animateHeart {
    0% {
      transform: scale(1);
      color: #000000;
    }
    20% {
      color: #ee0000;
    }
    50% {
      transform: scale(1.2);
      color: #ff0000;
    }
    80% {
      color: #ee0000;
    }
    100% {
      transform: scale(1);
      color: #000000;
    }
  }
  /* footer ends */
/* Media Queries */

@media(max-width:900px){
    .personName{font-size: 28px;}
    .personDesc{font-size: 17px;}
    .personData02 p{font-size: 21px;}
    .txtStatement{font-size: 23px;}
}
@media(max-width:768px){
    .halumni-letter h4{font-size: 57px;}
    .personPhoto{width: 275px;height: 275px;}
    .configPersonel{padding: 100px 75px;}
    .personTemplate{grid-template-columns: 1fr;}
    .personTemplate{grid-column-gap: none;}
    .personData01{background: linear-gradient(
        to right,#242120,#414746,#242120);}
    .personData02{background: linear-gradient(
        to right,#242120,#414746,#242120);}
    .personName{font-size: 26px;}
    .personDesc{font-size: 15px;}
    .personData02 p{font-size: 19px;}
    .txtStatement{font-size: 21px;}    
}

@media(max-width: 600px){
    .halumni-letter h4{font-size: 55px;}
    .personPhoto{width: 250px;height: 250px;}
    .personName{font-size: 25px;}
    .personDesc{font-size: 14px;}
    .personData02 p{font-size: 18px;}
    .txtStatement{font-size: 20px;}    
    
    .txtStatement::before{margin: 0 100%;}
    .txtStatement::after{margin : 0 -4%;}
}


@media (max-width: 500px) {
    .configPersonel{
        padding: 50px 0;
    }
    .profileLine{width: 370px;}
    .halumni-letter h4{font-size: 45px;}
    .personPhoto{width: 225px; height: 225px;}
    .personName{font-size: 23px;}
    .personDesc{font-size: 12px;}
    .personData02 p{font-size: 17px;}
    .personStatement{padding: 0 1em;}
    .txtStatement{font-size: 18px;}
    
    .txtStatement::before{margin: 0 100%;}
    .txtStatement::after{margin : 0 -4%;}
}
  @media (max-width: 400px) {
    .profileLine{width: 355px;}
    .halumni-letter h4{font-size: 37px;}
    .personPhoto{width: 210px; height: 210px;}
    .personName{font-size: 21px;}
    .personDesc{font-size: 11px;}
    .personData02 p{font-size: 16px;}
    .txtStatement{font-size: 17px;}
    
    .txtStatement::before{margin: 0 100%;}
    .txtStatement::after{margin : 0 -4%;}

    .personTemplate div{padding: 1em;}

}
@media(max-width:320px;){
    .profileLine{width: 330px;}
}
