body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    background-color: aliceblue;
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/*Header*/
header{
    margin:0;
}

nav{
    transition: 0.8s;
}

nav:hover{
    background-color: #f12b37; 
    color:aliceblue;
    transition: 0.8s;
}

/*HEADER end*/
/* Parallex Images*/

.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*fixed = parallex
  scroll = normal
  */

    background-attachment: fixed;
}

.pimg1{
    background-image: url('images/img1.jpeg');
    min-height: 100%;
}

.pimg2{
    background-image: url('images/img2.jpeg');
    min-height: 400px;
}

.pimg3{
    background-image: url('images/img3.jpg');
    min-height: 400px;
}
.pimg4{
    background-image: url('images/img1.jpeg');
    min-height: 400px;
    padding-bottom: 50px;
}

/*end of PARALLEX images*/

.section{
    text-align: center;
    padding: 50px;
    margin: auto;
}

/*row vertical, column horizontal effect*/

#box2 h4{
    letter-spacing: 3px;
    text-transform: uppercase; 
}

#box2{
    background-color: #ccc;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 1.1em;
    color: #000;
    text-align: justify;
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
}



#box3 h4{
    letter-spacing: 3px;
    text-transform: uppercase; 
}

#box3{
    background-color: #ccc;
    padding: 30px;
    font-size: 1.1em;
    color: #000;
    text-align: justify;
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
}
/*The end of section 1 INTRO AND PURPOSE*/

/*Beginning of section 2 HOW WE WORK*/
.wewe{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
    text-align: left;
    justify-content: flex-start;
    justify-items: stretch;
    align-items: stretch;

}
.wewe div{
    padding: 2em;
}

.box-box1{
    grid-column:1/3;
    margin: 50px 0px 50px 0px; 
    background-color: #f12b37;
    grid-row: 1/7;
}

.box-box2{
    margin: 0px 0px 0px 100px;
    grid-column: 1/4;
    grid-row:2/6;
    background: #fff;
}

.box-box2 h5{
    font-size: 1.1em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.box-box2 hr{
    background: #f12b37;
    height: 1px;
    width: 20%;

}

/*End of Section 2 HOW WE WORK*/

/* BEGINNING OF SECTION GOALS */
.wawe{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
    text-align: left;
    justify-items: stretch;
    justify-content: flex-start;
    align-items: stretch;

}
.wawe div{
    padding: 2em;
}

.box-box3{
    grid-column:2/4;
    margin: 50px 0px 50px 0px; 
    background-color: #f12b37;
    grid-row: 1/7;
}

.box-box4{
    margin: 0px 100px 0px 0px;
    grid-column: 1/4;
    grid-row:2/6;
    background: #fff;
}

.box-box4 h5{
    font-size: 1.1em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.box-box4 hr{
    background: #f12b37;
    height: 1px;
    width: 20%;

}

/* END OF SECTION GOALS */

.section-dark{
    background-color: #282e34;
    color: lightgrey;
}

.ptext{
    position: absolute;
    display: flex;
    top:50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #282e34;
    color: white;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
}

.ptext .border.trans{
    background-color: transparent;
    
}

.block{
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* The beginning of footer */

footer{

    width: 100%;
    background: #000;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: #ccc;
}

/*footer ends*/


.footer2 h6{
    text-transform: uppercase;
    color: rgb(109, 105, 100);
}

.footer2 p{
    line-height: 1.3em;
    text-align: justify;
}

.footer2 a{
    text-decoration: none;
    color: lightgray;
}

.footer2 a:hover{
    text-decoration: none;
    color: #282828;
}

.footer2 a:active {
    color: #282e34;
    text-decoration: none;
}

/*footer ends*/
/*FEW ADDITIONALS*/

.square,{
    margin:300px;
}

.addition{
    margin: 150px;
    height: auto;
    max-width: 100%;
}
.addition h2{
    color: #f12b37;
}
.cover{
    background-color: blue;
    opacity: 0.70;
    margin:auto;
    max-width: fit-content;
}
.cover h5{
    color: aliceblue;
}

/* Media Queries */
@media(max-width:1000px){
    }
}
@media(max-width:700px){

  }

@media(max-width: 575.98px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: fixed;
    }

}

  
  @media (max-width: 360px) {

}

  @media (max-width: 320px) {

.wewe div{
    padding: 1em;
}
.wawe div{
    padding: 1em;
}
    
}
