body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Oswald", sans-serif !important;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1511083285412-46fe2a6761a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38c95c4f59b1f661cb0bd0dc2f114203&auto=format&fit=crop&w=334&q=80);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#typewriter {
  font-size: 1.5em;
  letter-spacing: 5px;
  overflow: hidden;
  margin: 0 auto;
}

#typewriterText {
  border: 2px solid transparent;
  border-right-color: #000;
  animation: cursor 500ms infinite;
}

@keyframes cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.3);
  }
}

/*fonts*/

@font-face {
  font-family: "apompadour";
  src: url("fonts/apompadour2.ttf");
}

@font-face {
  font-family: "blacksword";
  src: url("fonts/Blacksword.otf");
}
@font-face {
  font-family: "amethyst";
  src: url("fonts/Amethyst.ttf");
}
@font-face {
  font-family: "heimdal";
  src: url("fonts/Heimdal.ttf");
}
@font-face {
  font-family: "brooklyn";
  src: url("fonts/brooklyn.otf");
}

.ptext {
  position: absolute;
  display: flex;
  top: 35%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext-first {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
  transition: 1s;
}

.ptext .border {
  color: white;
  padding: 20px;
  max-width: fit-content;
  margin: auto;
}
.ptext-first .border {
  color: white;
  padding: 20px;
  max-width: fit-content;
  margin: auto;
}

.ptext .border.trans {
  background-color: transparent;
}

.ptext-first .border.trans {
  background-color: transparent;
}

/*fonts end*/

/*button settings*/
.readmore1-btn {
  width: 110px;
  align-content: center;
}
.readmore1-btn:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition-duration: 0.2s;
}

.readmore1-btn a {
  border: 1px solid #fff;
  border-radius: 3px;
  background: #fff;
  opacity: 0.5;
  padding: 5px 5px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.readmore1-btn a:hover {
  color: black;
  background: #fff;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}
.readmore1-btn a:active {
  color: #282e34;
  text-decoration: none;

  color: #203257;
  font-size: 37px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.readmore2-btn {
  width: 110px;
  align-content: center;
  margin: auto;
}
.readmore2-btn:hover {
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
  transition-duration: 0.5s;
}
.readmore2-btn a {
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  color: #203257;
  font-size: 37px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.readmore2-btn a:hover {
  color: #9d1e2f;
  background: transparent;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 1s;
}
/*button setting ends*/

/*Header*/
header {
  margin: 0;
}

/*HEADER end*/

/*the landscape section*/

.theLandingPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.theBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  z-index: 1;
  filter: blur(7px);
  border: black 3px solid;
}
.theTextBox {
  transition: 1s;
  opacity: 0;
  margin: 0 auto;
  color: white;
  font-size: 35px;
  border: 2px solid white;
  padding: 50px;
  letter-spacing: 10px;
  z-index: 2;
  font-family: "Bangers", cursive;
  text-shadow: 2px 2px black;
  text-align: center;
}

/*end of landscape section*/

/* QUOTE AND INTRO SECTION */

#box1 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 50px;
}

.theQuote {
  font-family: "Anton", sans-serif;
  font-style: italic;
  text-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #9d1e2f;
  transition: 3s;
  font-size: 55px;
  letter-spacing: 3px;
  margin-bottom: 0 !important;
}

.theQuote::before {
  content: ' " ';
}
.theQuote::after {
  content: ' " ';
}

.box {
  grid-column: 1/3;
  margin: 50px 0px 50px 0px;
  background-color: #f12b37;
  box-shadow: 100px 60px #ccc;
  grid-row: 1/7;
}

#box2 {
  width: 80%;
  padding: 50px;
  background-color: #9d1e2f;
  border-radius: 10px;
  margin: 0 auto 80px auto;
  color: white;
}

/*The end of section 1 INTRO*/

.hrimg {
  width: 25%;
  height: auto;
  size: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*REMARKS SECTION 2 */

.elegance-light h2 {
  text-align: center;
  color: white;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 20px auto 0px auto;
  transition: 0.4s;
}

.random {
  background: url(https://images.unsplash.com/photo-1490822180406-880c226c150b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=549a2d0035d0cb05cd82256dbdcc76a2&auto=format&fit=crop&w=690&q=80);
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  transition: 0.4s;
}

.remark {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}

.remarkPict {
  border: solid 8px rgba(100, 100, 100, 0.2);
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.remarkContent {
  display: flex;
  align-items: center;
  padding: 20px;
  color: aliceblue;
}

.remark1text p {
  font-style: italic;
}

.remark1text {
  grid-column: span 1;
  text-align: right;
}

.remark1pict {
  grid-column: span 1;
  display: flex;
}

.remark1pict .remarkPict {
  margin: 0 auto 0 0;
  background: url(https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9df0dd21ec52afa496c963a48da2d287&auto=format&fit=crop&w=311&q=80);
  background-position: center;
  background-size: cover;
}

.remark2pict .remarkPict {
  margin: 0 0 0 auto;
  background: url(https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9df0dd21ec52afa496c963a48da2d287&auto=format&fit=crop&w=311&q=80);
  background-position: center;
  background-size: cover;
}

.remark2text {
  grid-column: span 1;
}

.remark2text p {
  font-style: italic;
}

.remark2pict {
  grid-column: span 1;
  display: flex;
}

.remarkText::before,
.remarkText::after {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  content: '  "  ';
}

.remarkAuthor {
  font-family: "Rancho", cursive;
  font-style: oblique;
}

/*Beginning of section 3 world*/

.carousel-fixed {
  width: 100%;
  height: 100%;
}

#carouselExampleFade {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}
.caroCaption {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.caroCaption h1 {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "blacksword";
  font-size: 150px;
  margin: 0 auto;
  bottom: 20px;
}

#carouselBegin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  transition: 1s;
}

.carouselBeginContent {
  text-align: center;
}

.carouselBeginContent .btn-info {
  margin: 30px auto;
  font-size: 30px;
  border-radius: 50%;
  background-color: white;
  border-color: white;
  color: black;
}

#carouselBegin span {
  font-size: 80px;
  margin: 30px auto;
}

/*END OF SECTION 3*/

/*SECTION 4 LINKAGES*/

.connected {
  padding: 60px;
}

.elegance {
  text-align: center;
  letter-spacing: 5px;
}

.elegance h1 {
  font-size: 45px;
  margin: 20px auto;
}

.linkages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #9d1e2f;
}

#link1 svg,
#link2 svg,
#link3 svg,
#link4 svg {
  color: aliceblue !important;
  margin: 0 auto;
}

.boxForSvg {
  background: #9d1e2f;
  margin: 10px auto;
  display: flex;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid 5px rgba(0, 0, 0, 0.2);
}

#link1:hover,
#link2:hover,
#link3:hover,
#link4:hover {
  transform: scale(1.02);
  transition: 0.4s;
}

#link1 {
  grid-column: span 1;
}

#link1 a,
#link2 a,
#link3 a,
#link4 a {
  color: #9d1e2f;
  text-decoration: none;
}

#link2 {
  grid-column: span 1;
}

#link3 {
  grid-column: span 1;
}

#link4 {
  grid-column: span 1;
}

/* END OF SECTION 4 LINKAGEs*/

/* The beginning of footer */

footer {
  width: 100%;
  letter-spacing: 4px;
  font-size: 0.9em;
  background: white;
  margin: auto;
  padding: 50px 0px;
  text-align: center;
  color: black;
  font-family: "Bangers", cursive;
}

.footer2 h6 {
  text-transform: uppercase;
  color: rgb(109, 105, 100);
}

.footer2 p {
  line-height: 1.3em;
  text-align: justify;
}

.footer2 a {
  text-decoration: none;
  color: lightgray;
}

.footer2 a:hover {
  text-decoration: none;
  color: #282828;
}

.footer2 a:active {
  color: #282e34;
  text-decoration: none;
}

.fa-heart {
  color: #ff0000;
  animation: animateHeart 1.5s linear infinite;
}
@keyframes animateHeart {
  0% {
    transform: scale(1);
    color: #000000;
  }
  20% {
    color: #ee0000;
  }
  50% {
    transform: scale(1.2);
    color: #ff0000;
  }
  80% {
    color: #ee0000;
  }
  100% {
    transform: scale(1);
    color: #000000;
  }
}

/*footer ends*/

/* Media Queries */
@media (max-width: 1025px) {
  .hrimg {
    width: 50%;
    height: auto;
    size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1000px) {
  .caroCaption h1 {
    font-size: 120px;
  }

  .theQuote {
    transition: 3s;
    font-size: 45px;
    letter-spacing: 3px;
  }

  .elegance-light h2 {
    font-size: 35px;
  }

  .remarkPict {
    width: 220px;
    height: 220px;
  }

  .remark1text p {
    font-style: italic;
    font-size: 0.8em;
  }
  .remark2text p {
    font-style: italic;
    font-size: 0.8em;
  }

  .hrimg {
    width: 40%;
    height: auto;
    display: block;
    size: cover;
    margin-right: auto;
    margin-left: auto;
  }

  .world {
    text-align: center;
    margin-top: 150px;
  }
  .world h2 {
    text-align: center;

    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  .world p {
    font-family: "apompadour";
    font-size: 20px;
    letter-spacing: 2px;
    width: 80%;
    margin: auto;
  }
  .linkages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 80%;
  }
}

@media (max-width: 767px) {
  .theQuote {
    transition: 3s;
    font-size: 40px;
    letter-spacing: 3px;
  }

  .elegance-light h2 {
    font-size: 25px;
  }

  .remarkPict {
    width: 220px;
    height: 220px;
  }

  .remark1text p {
    font-style: italic;
    font-size: 0.7em;
  }
  .remark2text p {
    font-style: italic;
    font-size: 0.7em;
  }

  .hrimg {
    width: 70%;
    height: auto;
    size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .box {
    display: none;
    box-shadow: none;
  }
  .elegance-light h2 {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .theTextBox {
    padding: 20px;
    font-size: 30px;
    letter-spacing: 4px;
  }

  .world {
    text-align: center;
    margin-top: 100px;
  }
  .world h2 {
    text-align: center;

    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  .world p {
    font-family: "apompadour";
    font-size: 20px;
    letter-spacing: 2px;
    width: 90%;
    margin: auto;
  }
  .carousel-fixed {
    width: 100%;
    height: 50%;
  }

  .carousel-caption h1 {
    font-family: "blacksword";
    font-size: 70px;
  }

  #carouselBegin {
    width: 100%;
    height: 50%;
  }

  .carouselBeginContent {
    text-align: center;
  }

  .carouselBeginContent .btn-info {
    margin: 20px auto;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    border-color: white;
    color: black;
  }

  #carouselBegin span {
    font-size: 60px;
    margin: 20px auto;
  }
}

@media (max-width: 650px) {
  .remark {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .caroCaption h1 {
    font-size: 70px;
  }

  .remarkContent {
    display: flex;
    align-items: center;
    padding: 5px;
    color: aliceblue;
  }

  .remarkPict {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .remark1text p {
    font-style: italic;
  }

  .remark1text {
    grid-row: 2;
    text-align: center;
    padding: 5px;
  }

  .remark2text {
    padding: 5px;
    text-align: center;
  }

  .remark1pict .remarkPict {
    grid-row: 1;
    margin: 0 auto;
  }

  .remark2pict .remarkPict {
    margin: 0 auto;
  }

  .remark2pict {
    grid-column: span 1;
  }

  .remarkText::before,
  .remarkText::after {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .pimg1 {
    background-attachment: fixed;
  }
  .section {
    text-align: center;
  }
  .theQuote {
    transition: 3s;
    font-size: 28px;
    letter-spacing: 3px;
  }
  #box2 {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .connected {
    padding: 30px;
  }
  .linkages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    grid-gap: 30px;
  }

  .elegance h1 {
    font-size: 25px;
  }
  .caroCaption h1 {
    font-size: 55px;
  }
}

@media (max-width: 400px) {
  .theTextBox {
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .theQuote {
    transition: 3s;
    font-size: 20px;
    letter-spacing: 3px;
  }
  #box2 {
    font-size: 13px;
    padding: 22px;
  }
  .carouselBeginContent .btn-info {
    margin: 20px auto;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    border-color: white;
    color: black;
  }

  #carouselBegin span {
    font-size: 30px;
    margin: 20px auto;
  }
}
@media (max-width: 320px) {
  #box2 {
    font-size: 12px;
    padding: 20px;
  }
}

.justBlock h1 {
  display: block !important;
  position: absolute;
}
