body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    background-image: url('images/black2.jpg');
} 

/* FONTS */
@font-face{
    font-family: 'heroesassamble2';
    src: url('fonts/heroesassemble2.ttf');
}

@font-face{
    font-family: 'airstrikeb3d';
    src: url('fonts/airstrikeb3d.ttf');
}
@font-face {
    font-family: 'apompadour';
    src: url('fonts/apompadour2.ttf');
}

@font-face {
    font-family: 'blacksword';
    src: url('fonts/Blacksword.otf');
}
@font-face{
    font-family: 'amethyst';
    src: url('fonts/Amethyst.ttf');
}
@font-face{
    font-family: 'heimdal';
    src: url('fonts/Heimdal.ttf');
}
@font-face{
    font-family: 'brooklyn';
    src: url('fonts/brooklyn.otf');
}

/* Global */
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

/*Header*/
header {
    margin: 0;
  }
  
  nav {
    transition: 0.8s;
    color: white;
  }
  
  nav:hover {
    background-color: white;
    color: aliceblue;
    transition: 0.8s;
  }
  
  .nav-link {
    color: black !important;
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .btn-outline-dark {
    background-color: white !important;
    color: #495057 !important;
    border-color: #ced4da !important;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-color: white !important;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
/*HEADER end*/
/* Parallex Images*/


.ptext-background{
    background-image: url('images/noname-and-co.jpg');
    background-size: cover;
    filter: blur(2px);
    opacity: 0.7;
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.ptext{
    position: absolute;
    top:50%;
    width:100%;
    padding-left: 5%; 
    margin: auto;
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Permanen Marker', cursive;
}

.ptext h4{
    font-size: 27px;
}
.ptext p{
    opacity: 0.3;
    font-size: 12px;
}
.ptext hr{
    background-color: white;
    position: relative;
    width: 30%;
}

/*end of PARALLEX images*/

.blight{
    text-align: center;
    padding: 50px;
    margin: auto;
}

/*row vertical, column horizontal effect*/

/*BEGINNING OF WHO WE ARE */
.the-team{
    background-color: rgb(245, 245, 245);
}

.who01 h4{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 2em;
}
/* The Developers Title */
.title-dev h4{font-family: 'Lobster',cursive;
}

.title-dev hr{
    background: black;
    width: 80%;
}
/* PHOTOS GRID */
.photo{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.photo01{
    text-align: center;
    padding: 1.5rem 2rem;

}

.photo01 img{
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.photo01 h6{font-size: 18px;}
.photo01 h5{font-size: 16px}

.phnto{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.phxto{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
/* END OF PHOTOS GRID */
/*END OF SECTION WHO WE ARE*/

/*Beginning of section 2 HOW WE WORK*/
.wewe{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px,auto);
    text-align: left;
    justify-content: flex-start;
    justify-items: stretch;
    align-items: stretch;

}
.wewe div{
    padding: 2em;
}

.box-box1{
    grid-column:1/4;
    /*background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url(images/img4.jpeg);*/
    background: rgba(122, 26, 34, 0.8);
    background-size: cover;
    text-transform: uppercase;
    letter-spacing: 5px; 

    color: white;
}

.box-box1 h4{
    padding-top: 15px;

    font-family: Helvetica;
}

.box-box2{
    grid-column: 1/4;
    grid-row:2/6;
    background: rgb(245, 245, 245);
}

/* ---------------------- */


.block{
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* SUPPORT US SECTION */
.support-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr,1fr;
    text-align: left;
    padding: 35px;
    margin: 0 auto;
}
.message h4{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.message p{
    color: white;
    font-family: 'Anton', cursive;
    font-size: 15px;
}

.my-form{
    margin: 0px 0px;
    color: white;
    font-family: 'Anton', cursive;
    padding-top: 40px; 
}

.my-form p{
    display: block;
    font-size: 17px;
}

.my-form input[type="text"], textarea{
    margin: 10px 0px;
    padding:8px;    
    width: 100%;

}

.my-form textarea{
    height: 250px;
}

.readmore1-btn{
    width: 110px;
    align-content: center;
    
}
.readmore1-btn:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.submit-btn{
    border: 0px solid #fff;
    border-radius: 3px;
    background: #9d1e2f;
    padding: 5px 5px;
    color: white;
    text-decoration:none;
    text-transform: uppercase;
}

.submit-btn:hover{
    color: black;
    background: white;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.submit-btn:active {
    color: #282e34;
    text-decoration: none;

    color: #203257;
    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
}


/* END OF SUPPORT US SECTION */

/* The beginning of footer */

footer {
    width: 100%;
    letter-spacing: 4px;
    font-size: 0.9em;
    background: white;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: black;
    font-family: "Bangers", cursive;
  }
   
.fa-heart{
	color:#ff0000;
	animation:animateHeart 1.5s linear infinite;
}
 @keyframes animateHeart{
	0%{
		transform:scale(1);
		color:#000000;
	}
	20%{
		color:#ee0000;
	}
	50%{
		transform:scale(1.2);
		color:#ff0000;
	}
	80%{
		color:#ee0000;
	}
 	100%{
		transform:scale(1);
		color:#000000;
	}
}

/*footer ends*/
/*FEW ADDITIONALS*/

.square,{
    margin:300px;
}

.addition{
    margin: 150px;
    height: auto;
    max-width: 100%;
}
.addition h2{
    color: #f12b37;
}
.cover{
    background-color: blue;
    opacity: 0.70;
    margin:auto;
    max-width: fit-content;
}
.cover h5{
    color: aliceblue;
}

/* Media Queries */
@media(max-width:1000px){
    .photo{
        grid-template-columns: 1fr;
    }

@media(max-width:767px){
    .photo01 img{
        width: 150px;
        height: 150px;
    }
    .photo01 h6{font-size: 16px}
    .photo01 h5{font-size: 13px}
    .who01 h4{
        font-size: 20px;
    }
    .ptext h4{
        font-size: 24px;
    }
    .ptext p{
        font-size: 12px;
    }
    .ptext hr{
        width: 55%;
    }
    .box-box1 h4{
        font-size: 20px;
    }
    .box-box2 p{font-size: 13px}

    .message h4{
        font-size: 20px;
    }
    .message p{font-size: 17px}

    .my-form label{
        font-size: 15px;
    }
    .my-form ::placeholder{font-size: 13px}
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:6px;    
        width: 100%;
    
    }
}

@media(max-width: 575.98px){
    .phnto{
        grid-template-columns: 1fr;
    }
    .pimg1, .pimg2, .pimg3{
        background-attachment: fixed;
    }
    .ptext h4{
        font-size: 20px;
    }
    .ptext p{
        font-size: 11px;
    }
    .ptext hr{
        width: 70%;
    }
    .photo01 img{
        width: 125px;
        height: 125px;
    }
    .photo01 h6{
        font-size: 12px;
    }
    .photo01 h5{
        font-size: 11px;
    }
    .who01 h4{
        font-size: 17px;
    }
    .box-box1 h4{
        font-size: 17px;
    }
    .box-box2 p{
        font-size: 11px;
    }

    .message h4{
        font-size: 17px;
    }
    .message p{
        font-size: 14px;
    }

    .my-form label{
        font-size: 13px;
    }
    .my-form ::placeholder{font-size: 11px}
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:5px;    
        width: 100%;
    
    }

    .support-us{
        grid-template-columns: 1fr;
    }

}

  
  @media (max-width: 420px) {
    .blight{
        padding: 50px 20px;
    }
    .ptext h4{
        font-size: 18px;
    }
    .ptext p{
        font-size: 9.5px;
    }
    .ptext hr{
        width: 95%;
    }
    .photo01 img{
        width: 120px;
        height: 120px;
    }
    .photo01 h6{
        font-size: 11px;
    }
    .photo01 h5{
        font-size: 10px;
    }
    .who01 h4{
        font-size: 15px;
    }
    .box-box1 h4{
        font-size: 15px;
    }
    .box-box2 p{
        font-size: 10px;
    }

    .message h4{
        font-size: 15px;
    }
    .message p{
        font-size: 13px;
    }

    .my-form label{
        font-size: 11px;
    }
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:3px;    
        width: 100%;
    
    }
    .my-form ::placeholder{font-size: 9px}

}
@media(max-width: 390px){
    .photo{    
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .photo01 img{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    
}
  @media (max-width: 375px) {
.photo{    
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.wewe div{
    padding: 1em;
}

}

@media(max-width:320px){
    .photo{    
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }

    .photo01 img{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
}
