body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#typewriter {
  font-size: 1.5em;
  letter-spacing: 5px;
  overflow: hidden;
  margin: 0 auto;
}

#typewriterText {
  border: 2px solid transparent;
  border-right-color: #000;
  animation: cursor 500ms infinite;
}

@keyframes cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.3);
  }
}

/*fonts*/

@font-face {
  font-family: "apompadour";
  src: url("fonts/apompadour2.ttf");
}

@font-face {
  font-family: "blacksword";
  src: url("fonts/Blacksword.otf");
}
@font-face {
  font-family: "amethyst";
  src: url("fonts/Amethyst.ttf");
}
@font-face {
  font-family: "heimdal";
  src: url("fonts/Heimdal.ttf");
}
@font-face {
  font-family: "brooklyn";
  src: url("fonts/brooklyn.otf");
}

/* Global */
.container-first , .container-second{
    width: 1300px;
    margin:auto;
    overflow: hidden;
    text-align: center;
    padding: 50px 50px; 
}

/*Header*/
header {
    margin: 0;
  }
  
  nav {
    transition: 0.8s;
    background-color:#141414;
  }
  
  nav:hover {
    background-color:#141414;
    transition: 0.8s;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .btn-outline-dark {
    background-color: white !important;
    color: #495057 !important;
    border-color: #ced4da !important;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-color: white !important;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
  /*HEADER end*/

.ptext{
    position: absolute;
    display: flex;
    top: 35%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}

.ptext-first{
    position: absolute;
    display: flex;
    top: 50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
}

.ptext .border{
    color: white;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
}
.ptext-first .border{
    color: white;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
}

.ptext .border.trans{
    background-color: transparent;
}

.ptext-first .border.trans{
    background-color: transparent;
}

/*
.elegance h2{
    text-align: center;
    color:#203257;
    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 150px;
}
.hrimg{
    width: 25%;
    height: auto;
    size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
*/

/*The end of the page settings*/

/*The beginning of FRACTION*/
#headline{
    text-align: center;
    color: firebrick;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.date{
    margin-top: 25px;
}
.date h5{
    text-align: right;
    color: black;
}

.container-first{
    background-color: #F6F6F6;
}

.main-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    border: white;
    border-radius: 3px;
    width: 100%;
    height: 416px;
}

#main1{
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 3px;
    background-image: url('images/calvin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: justify;
    text-decoration: none;
    position: relative;
}
#gridtext1{
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}


#logo-school{
    color: red;
}
#logo-utensils{
    color: silver;
}
#logo-plane{
    color: skyblue;
}
#logo-graduate{
    color: greenyellow;
}
#logo-pen{
    color: indigo;
}

#main2{
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 3px;
    background-image: url('images/party.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: justify;
    text-decoration: none;
    position: relative;
}
#gridtext2{
    position: absolute;
    top: 60%;
    bottom:0;
    left: 0;
    right: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}
#main3{
    grid-column: 4/5;
    grid-row: 1/2;
    border-radius: 3px;
    background-image: url('images/sprawled.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: justify;
    background-size: cover;
    position: relative;
}
#gridtext3{
    position: absolute;
    top: 60%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}
#main4{
    grid-column: 3/4;
    grid-row: 2/3;
    border-radius: 3px;
    background-image: url('images/18.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: justify;
    background-size: cover;
    text-decoration: none;
    position: relative;
}
#gridtext4{
    position: absolute;
    top: 60%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}
#main5{
    grid-column: 4/5;
    grid-row: 2/3;
    border-radius: 3px;
    background-image: url('images/ssss.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: justify;
    background-size: cover;
    text-decoration: none;
    position: relative;
}
#gridtext5{
    position: absolute;
    top: 60%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
}
/* The end of FRACTION*/

/*DIV BLOCKS */

.blocks{
    display: grid;
    grid-template-columns: 1fr, 2fr,1fr;
    grid-gap: 1em;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    grid-template-rows: 1fr;
}
#block1{
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(12,1fr);
}
#ba3, #ba4, #ba5, #ba6, #ba7{
    grid-row: span 1;
    border-top: #d8d8d8 solid 1px;
    text-align: justify;
}
#ba1, #bb1{
    grid-row: span 1;
    background-color: #F2F2F2;
    color: #484242;
    display: table;
    width: 100%;
}
#ba1 a, #bb1 a, #bb3 a, #bb4 a, #ba3 a,
 #ba4 a, #ba5 a, #ba6 a, #ba7 a, #bc2 a,
 #bc3 a, #bc4 a, #bc5 a{
    color: inherit;
    text-decoration: none;
}
.ba1-table, .bb1-table, .bb3-table, .bb4-table{
    display: table-row;
    color: #484242;
}
.bb3-table :hover, .bb4-table :hover{
    color: #9d1e2f;
}
#ba1 .part1, #bb1 .part1{
    width: 80%;
    display: table-cell;
}
.bb-part1{
    width: 40%;
    display: table-cell;
}
.bb-part2{
    width: 60%;
    display: table-cell;
}
#ba1 h3, #bb1 h3{
    font-size: 1.5em;
    padding-block-start: 0.25em;
    padding-block-end: auto;
    font-weight: bold;
    text-align: justify;
    padding-left: 5px;
}
#ba1 .part2, #bb1 .part2{
    display: table-cell;
    background-color: #e5e5e5;
    color: #484242;
}

#ba1 i, #bb1 i{
    font-size: 10px;
    padding-block-start: 0.25em;
}
.block-link{
    color: inherit;
    text-decoration: none;
}
.block-link :hover{
    color: #9d1e2f;
}

#ba2{
    grid-row: span 6;
    border-top: #d8d8d8 solid 1px;
    background-image: url('images/who4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}
#ba2-text{
    position: absolute;
    top: 70%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5); 
}
#block2{
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(12,1fr);
}

#bb3, #bb4{
    grid-row: span 3;
    border-top: #d8d8d8 solid 1px;
}
#bb2{
    grid-row: span 5;
    background-image: url('images/who6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
#bb2-text{
    position: absolute;
    top: 62%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
}
#block3{
    grid-column: 3;
    display: grid;
    grid-template-rows: repeat(12,1fr)
}
#bc1{
    grid-row: span 8;
    background-image: url('images/who5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-decoration: none;
    color: inherit;
}
#bc1-text{
    position: absolute;
    top: 75%;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5); 
}
#bc2, #bc3, #bc4, #bc5{
    grid-row: span 1;
    border-top: #d8d8d8 solid 1px;
    text-align: justify;
}


/* DIV SQUARE */

.container-third{
    width: 100%;
    height: auto;
    background-color: #202020;
    color: white;
    text-align: justify;
}
.square{
    display: grid;
    grid-template-columns: 5fr, 2fr;
    grid-template-rows: 1fr,1fr,1fr;
    grid-gap: 1em;
    margin: 50px auto 0px auto;
}
#square1{
    grid-row: span 1;
    text-align: center;
    color: white;

}
#square2{
    grid-column: 5;
    grid-row: span 2;
}
#square3{
    grid-column: 2;
    grid-row: span 1;
}
#square4{
    grid-column: 2;
    grid-row: span 1;
}


/* FOOTER */

footer {
    width: 100%;
    letter-spacing: 4px;
    font-size: 0.9em;
    background: #141414;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: black;
    font-family: "Bangers", cursive;
  }
  
  .footer2 h6 {
    text-transform: uppercase;
    color: rgb(109, 105, 100);
  }
  
  .footer2 p {
    line-height: 1.3em;
    text-align: justify;
  }
  
  .footer2 a {
    text-decoration: none;
    color: lightgray;
  }
  
  .footer2 a:hover {
    text-decoration: none;
    color: #282828;
  }
  
  .footer2 a:active {
    color: #282e34;
    text-decoration: none;
  }
  
  .fa-heart {
    color: #ff0000;
    animation: animateHeart 1.5s linear infinite;
  }
  @keyframes animateHeart {
    0% {
      transform: scale(1);
      color: #000000;
    }
    20% {
      color: #ee0000;
    }
    50% {
      transform: scale(1.2);
      color: #ff0000;
    }
    80% {
      color: #ee0000;
    }
    100% {
      transform: scale(1);
      color: #000000;
    }
  }
  
  /*footer ends*/

/* Media Queries */
@media(max-width:1000px){
    
    .fraction{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1em;
        border: groove white;
        border-radius: 3px;
        width: 100%;
        height: auto;
    }
    #box1{
        grid-column: 1/3;
        grid-row: 1/3;
        border-radius: 3px;
        background-image: url('images/calvin.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        text-align: justify;
    }
    #box2{
        grid-column: 1/2;
        grid-row: 3/4;
        border-radius: 3px;
        background-image: url('images/party.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    #box3{
        grid-column: 2/3;
        grid-row: 3/4;
        border-radius: 3px;
        background-image: url('images/sprawled.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        max-height: 300px;
    }
    #box4{
        grid-column: 1/2;
        grid-row: 4/5;
        border-radius: 3px;
        background-image: url('images/18.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        max-height: 300px;
    }
    #box5{
        grid-column: 2/3;
        grid-row: 4/5;
        border-radius: 3px;
        background-image: url('images/ssss.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        max-height: 300px;
    }


	

}
@media(max-width:700px){
 
    .fraction{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1em;
        border: groove white;
        border-radius: 3px;
        width: 100%;
        height: auto;
    }
    #box1{
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 3px;
        background-image: url('images/calvin.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        text-align: justify;
    }
    #box2{
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 3px;
        background-image: url('images/party.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        
    }
    #box3{
        grid-column: 1/2;
        grid-row: 3/4;
        border-radius: 3px;
        background-image: url('images/sprawled.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
       
    }
    #box4{
        grid-column: 1/2;
        grid-row: 4/5;
        border-radius: 3px;
        background-image: url('images/18.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        
    }
    #box5{
        grid-column: 1/2;
        grid-row: 5/6;
        border-radius: 3px;
        background-image: url('images/ssss.jpg');
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: justify;
        background-size: cover;
        
    }

}

@media(max-width: 575.98px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: fixed;
    }    
    .section{
        text-align: center;
        padding: 20px 20px; 
    }
}


