body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1434609300835-27998bcd175d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=031ab1d8ab5844563abf7bab66515859&auto=format&fit=crop&w=1934&q=80');

} 

/* FONTS */
@font-face{
    font-family: 'heroesassamble2';
    src: url('fonts/heroesassemble2.ttf');
}

@font-face{
    font-family: 'airstrikeb3d';
    src: url('fonts/airstrikeb3d.ttf');
}
@font-face {
    font-family: 'apompadour';
    src: url('fonts/apompadour2.ttf');
}

@font-face {
    font-family: 'blacksword';
    src: url('fonts/Blacksword.otf');
}
@font-face{
    font-family: 'amethyst';
    src: url('fonts/Amethyst.ttf');
}
@font-face{
    font-family: 'heimdal';
    src: url('fonts/Heimdal.ttf');
}
@font-face{
    font-family: 'brooklyn';
    src: url('fonts/brooklyn.otf');
}

/*HEADER BACKGROUND*/

.hdev-background{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=2058&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.hdev-letter{
    position: absolute;
    width:100%;
    padding-left: 5%; 
    margin: auto;
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.hdev-letter h4{
    font-size: 100px;
}
.hdev-letter p{
    opacity: 0.8;
    font-size: 20px;
}
.hdev-letter hr{
    background-color: white;
    position: relative;
    width: 30%;
}

/*end of HEADER BACKGROUND*/

.dev-config{
    text-align: center;
    padding: 50px;
    margin: auto;
}

/*BEGINNING OF WHO WE ARE */
.the-team{
    background-color: rgb(245, 245, 245);
}

.who01 h4{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 2em;
}
/*THE DEVELOPERS DIVISION*/
.title-dev{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.title-dev h4{font-family: 'Lobster',cursive;
}

.title-dev hr{
    background: black;
    width: 90%;
    margin: auto;
}
/* PHOTOS GRID */
.photo{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.photo01{
    text-align: center;
    padding: 1.5rem 2rem;

}

.photo01Dev{
    background: url(images/who4.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}
.photo02Dev{
    background: url(images/who2.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}
.photo03Dev{
    background: url(images/who3.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}

.photo01 h6{font-size: 18px;}
.photo01 h5{font-size: 16px}

.phnto{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.photo04Dev{
    background: url(images/who1.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}
.photo05Dev{
    background: url(images/who5.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}

.phxto{
    display:grid;
    padding: 2em;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.photo06Dev{
    background: url(images/who6.jpg);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
}

/* END OF PHOTOS GRID */
/*END OF SECTION WHO WE ARE*/

/*Beginning of section 2 WHAT WE HAVE DONE*/
.dev-info{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px,auto);
    text-align: left;
    justify-content: flex-start;
    justify-items: stretch;
    align-items: stretch;

}
.dev-info div{
    padding: 2em;
}

.box-box1{
    grid-column:1/4;
    background: rgb(122, 26, 34);
    background-size: cover;
    text-transform: uppercase;
    letter-spacing: 5px; 

    color: white;
}

.box-box1 h4{
    padding-top: 15px;

    font-family: Helvetica;
}

.box-box2{
    grid-column: 1/4;
    grid-row:2/6;
    background: rgb(245, 245, 245);
}

/* SUPPORT US SECTION */
.support-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr,1fr;
    text-align: left;
    padding: 35px;
    margin: 0 auto;
}
.message h4{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.message p{
    color: white;
    font-family: 'Anton', cursive;
    font-size: 15px;
}

.my-form{
    margin: 0px 0px;
    color: white;
    font-family: 'Anton', cursive;
    padding-top: 40px; 
}

.my-form p{
    display: block;
    font-size: 17px;
}

.my-form input[type="text"], textarea{
    margin: 10px 0px;
    padding:8px;    
    width: 100%;

}

.my-form textarea{
    height: 250px;
}

.submit-btn{
    border: 0px solid #fff;
    border-radius: 3px;
    background: #9d1e2f;
    padding: 5px 5px;
    color: white;
    text-decoration:none;
    text-transform: uppercase;
}

.submit-btn:hover{
    color: black;
    background: white;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.submit-btn:active {
    color: #282e34;
    text-decoration: none;

    color: #203257;
    font-size: 37px;
    letter-spacing: 8px;
    text-transform: uppercase;
}


/* END OF SUPPORT US SECTION */

/* Media Queries */
@media(max-width:1024px){
    
}
@media(max-width:768px){
    .photo{
        grid-template-columns: 1fr;
    }
    
@media(max-width:767px){
    
    
    .photo01Dev{
        width: 150px;
        height: 150px;
    }
    .photo02Dev{
        width: 150px;
        height: 150px;
    }
    .photo03Dev{
        width: 150px;
        height: 150px;
    }
    .photo04Dev{
        width: 150px;
        height: 150px;
    }
    .photo05Dev{
        width: 150px;
        height: 150px;
    }
    .photo06Dev{
        width: 150px;
        height: 150px;
    }

    .photo01 h6{font-size: 16px}
    .photo01 h5{font-size: 13px}
    .who01 h4{
        font-size: 20px;
    }

    .title-dev h4{
        font-size: 20px;
    }

    .hdev-letter h4{
        font-size: 24px;
    }
    .hdev-letter p{
        font-size: 12px;
    }
    .hdev-letter hr{
        width: 55%;
    }
    .box-box1 h4{
        font-size: 20px;
    }
    .box-box2 p{font-size: 13px}

    .message h4{
        font-size: 20px;
    }
    .message p{font-size: 17px}

    .my-form label{
        font-size: 15px;
    }
    .my-form ::placeholder{font-size: 13px}
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:6px;    
        width: 100%;
    
    }
}

@media(max-width: 575.98px){
    .phnto{
        grid-template-columns: 1fr;
    }
    .hdev-background{
        background-attachment: fixed;
    }
    .hdev-letter h4{
        font-size: 20px;
    }
    .hdev-letter p{
        font-size: 11px;
    }
    .hdev-letter hr{
        width: 70%;
    }
    .photo01Dev{
        width: 125px;
        height: 125px;
    }
    .photo02Dev{
        width: 125px;
        height: 125px;
    }
    .photo03Dev{
        width: 125px;
        height: 125px;
    }
    .photo04Dev{
        width: 125px;
        height: 125px;
    }
    .photo05Dev{
        width: 125px;
        height: 125px;
    }
    .photo06Dev{
        width: 125px;
        height: 125px;
    }
    .photo01 h6{
        font-size: 12px;
    }
    .photo01 h5{
        font-size: 11px;
    }
    .who01 h4{
        font-size: 17px;
    }

    .title-dev h4{
        font-size: 17px;
    }

    .box-box1 h4{
        font-size: 17px;
    }
    .box-box2 p{
        font-size: 11px;
    }

    .message h4{
        font-size: 17px;
    }
    .message p{
        font-size: 13px;
    }

    .my-form p{
        font-size: 13px;
    }
    .my-form ::placeholder{font-size: 11px}
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:5px;    
        width: 100%;
    
    }

    .support-us{
        grid-template-columns: 1fr;
    }

}

  
  @media (max-width: 420px) {
    .dev-config{
        padding: 50px 20px;
    }
    .hdev-letter h4{
        font-size: 18px;
    }
    .hdev-letter p{
        font-size: 9.5px;
    }
    .hdev-letter hr{
        width: 95%;
    }
    .photo01Dev{
        width: 120px;
        height: 120px;
    }
    .photo02Dev{
        width: 120px;
        height: 120px;
    }
    .photo03Dev{
        width: 120px;
        height: 120px;
    }
    .photo04Dev{
        width: 120px;
        height: 120px;
    }
    .photo05Dev{
        width: 120px;
        height: 120px;
    }
    .photo06Dev{
        width: 120px;
        height: 120px;
    }
    .photo01 h6{
        font-size: 11px;
    }
    .photo01 h5{
        font-size: 10px;
    }
    .who01 h4{
        font-size: 15px;
    }
    .title-dev h4{
        font-size: 15px;
    }
    .box-box1 h4{
        font-size: 15px;
    }
    .box-box2 p{
        font-size: 10px;
    }

    .message h4{
        font-size: 15px;
    }
    .message p{
        font-size: 11px;
    }

    .my-form label{
        font-size: 11px;
    }
    .my-form input[type="text"], textarea{
        margin: 10px 0px;
        padding:3px;    
        width: 100%;
    
    }
    .my-form ::placeholder{font-size: 9px}

}
@media(max-width: 390px){
    .photo{    
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .photo01Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    .photo02Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    .photo03Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    .photo04Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    .photo05Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    .photo06Dev{
        width: 100px;
        height: 100px;
        justify-content: flex-start;
    }
    
}
  @media (max-width: 375px) {
.photo{    
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.dev-info div{
    padding: 1em;
}

}

@media(max-width:320px){
    .photo{    
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }

    .photo01Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
    .photo02Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
    .photo03Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
    .photo04Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
    .photo05Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
    .photo06Dev{
        width: 80px;
        height: 80px;
        justify-content: flex-start;
    }    
}
